<html>
  <head>
    <meta charset='UTF-8' />
    <title>Verify email</title>
  </head>
  <body>
    <h2>Verify email</h2>
    <p>To recover your password, enter the following confirmation code:</p>
    <div
      style='font-size: 24px; font-weight: bold; margin: 20px 0;'
    >{{code}}</div>
    <p>If you have not recovered your password, please ignore this email.</p>
  </body>
</html>